* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --primary: #fda47a;
  --primaryHovered: #c06c45;
  --secondary: #fff5ec;
  --dark: #231e1e;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
// span{
//   font-size: 15px;
// }
p,
h1,
h2,
h3,
h4,
h5,
span {
  color: #282b30;
}
p {
  font-size: 19px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 15px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}
h4 {
  font-size: 10px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 500;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
.pointer {
  cursor: pointer;
}
.text_primary {
  color: var(--primary);
}
.App {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  .cards {
    max-width: 420px;
    margin: 60px auto 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card {
      width: 100%;
      background-color: var(--secondary);
      padding: 15px 30px;
      border-radius: 30px;
      div:nth-child(1) {
        width: 70%;
        margin: auto;
      }
      span {
        margin-left: 15px;
      }
    }
  }
  .user-menu {
    width: 275px;
    margin: 20px 10px 20px;
    flex-direction: column;
    .profile {
      align-items: start;
      gap: 20px;
      padding: 40px 20px;
      background-color: #fda47a;
      .img {
        img {
          width: 83px;
        }
      }
      .name {
        h5 {
          margin: 7px 0 3px 0;
          font-weight: 800;
          color: white;
        }
        h5:nth-child(2) {
          font-weight: 500;
        }
      }
    }

    .menu-list {
      background-color: #e2dbdb;
      flex-direction: column;
      padding: 35px 20px;
      gap: 20px;
      .flex {
        align-items: baseline;
        gap: 15px;
        padding: 0px 20px;
        h5 {
          font-weight: 500;
        }
        img {
          width: 14px;
        }
        a {
          &:link {
             color: #fda47a !important;
            h5{
              color: #fda47a !important;
            }
          }
          &:active {
             color: #fda47a !important;
            h5{
              color: #fda47a !important;
            }
          }
        }
      }
    }
  }
}

.stay_with_us {
  background-color: var(--dark);

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    div {
      p,
      h3 {
        color: #ffffff !important;
      }
    }
    .social_wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      margin: 20px auto;
      .social {
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
      }
    }
  }
}

.flex {
  display: flex;
}

.sub-nav {
  background-color: #e2dbdb;
  padding: 10px 0;
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
    }
    .list {
      position: relative;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-left: 20px;
        font-size: 15px;
      }
      li:nth-child(1)::after {
        content: ">";
        position: absolute;
        transform: translateX(40%);
      }
    }
  }
}

@media (min-width: 768px) {
  p {
    font-size: 28px;
  }
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 20px;
  }

  .wrapper {
    .cards {
      max-width: unset;
      margin: 40px auto 50px;
      flex-direction: row;
    }
    .user-menu {
      width: 387px;
      h5 {
        font-size: 20px;
      }
      .profile {
        .img {
          img {
            width: 118px;
          }
        }
        .name {
          h5 {
            margin: 15px 0 3px 0;
          }
          h5:nth-child(2) {
            margin: 0;
          }
        }
      }

      .menu-list {
        gap: 40px;
        .flex {
          padding: 0px 35px;
          img {
            width: 20px;
          }
        }
        
      }
    }
  }

  .stay_with_us {
    margin-bottom: 30px;
    margin-top: 20px;
    & > div {
      flex-direction: row;
      padding: 40px 0;
      p {
        font-size: 22px;
      }
      .social_wrapper {
        flex-wrap: wrap;
        width: 50%;
        margin: 0px auto;
        .social {
          height: 100px;
          width: 100px;
        }
      }
    }
  }

  .sub-nav {
    .flex {
      padding-left: 5%;
      max-width: 1000px;
      margin: 0;
      h1 {
        font-size: 35px;
        font-weight: 500;
      }
    }
  }
}
