.myrecipe{
    .wrapper{
        .right{
            max-width: 420px;
            .recipe-list{
                .heading{
                    margin: 20px 0;
                    h3{
                        font-size: 15px;
                    }
                }
                .grid{
                    display: grid;
                    grid-template-columns: repeat(5 , 1fr );
                    align-items: center;
                    text-align: center;
                    .row1{
                        grid-column: 1/2;
                    }
                    .row2{
        
                        grid-column: 2/3;
                    }
                    .row3{
        
                        grid-column: 3/4;
                    }
                    .row4{
        
                        grid-column: 4/5;
                    }
                    .row5{
                        grid-column: 5/6;
                    }
                }           
                .caption{
                    .head{
                        border-top: 0.47px solid #C4C4C4;
                        border-bottom: 0.47px solid #C4C4C4;
                        gap: 10px;
                        padding: 10px 5px;
                        li{
                            font-size: 7.09px;
                            font-weight: 700;
                        }
                    }
                }
                .recipes{
                    flex-direction: column;
                    margin:0 0 20px 0;
                    gap: 20px;
                    .recipe{
                        box-shadow: 0px 1.8px 1.8px 0px #00000040;
                        padding: 5px 0;
                        .img{
                            img{
                                width: 45px;
                                height: 44px;
                            }
                        }
                        .actions{
                            justify-content: space-evenly;
                            .view,.edit,.delete{
                                cursor: pointer;
                                border-radius: 50%;
                                width: 16px;
                                height: 17px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    width: 9px;
                                    height: 9px;
                                }
                            }
                            .view{
                                background-color:#C4C4C4;
;
                            }
                            .edit{
                                background-color: #C4C4C4;
;         
                            }
                            .delete{
                                background-color: #C4C4C4;
;
                            }
                        }
                        &:hover{
                            box-shadow: 0px 4px 4px 0px #00000040;
                            .actions{
                                .view{
                                    background-color:#78C145;
                                    &:hover{
                                        background-color:#487826;
                                    }
                                }
                                .edit{
                                    background-color: #4267B2;  
                                    &:hover{
                                        background-color:#223a69;  
                                    }       
                                }
                                .delete{
                                    background-color: #ff0101;
                                    &:hover{
                                        background-color:#682020;
                                    }
                                }
                            }
                        }
                    }


                    h5{
                        font-size: 8px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}



@media (min-width: 768px) {
    .myrecipe{
        padding-top: 125px;
        .wrapper{
            display: flex;
            .right{
                width: 66%;
                max-width: unset;
                margin: 0px auto;
                .recipe-list{
                    .heading{
                        margin: 20px 0 30px 0;
                        h3{
                            font-size: 20px;
                        }
                    }       
                    .caption{
                        .head{
                            border-top: 0.47px solid #C4C4C4;
                            border-bottom: 0.47px solid #C4C4C4;
                            gap: 10px;
                            padding: 25px 10px 25px 0;
                            li{
                                font-size: 10px;
                            }
                        }
                    }
                    .recipes{
                        margin:0 0 20px 0;
                        gap: 10px;
                        .recipe{
                            box-shadow: 0px 1.8px 1.8px 0px #00000040;
                            padding: 5px 0;
                            .img{
                                img{
                                    width: 60px;
                                    height : 65px;
                                }
                            }
                            .actions{
                                justify-content: space-evenly;
                                gap: 3px;
                                .view,.edit,.delete{
                                    width: 27px;
                                    height: 25px;
                                    img{
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                            }
                        }
                        h5{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    .myrecipe{
        .wrapper{
            .right{
                .recipe-list{
                    .heading{
                        h3{
                            font-size: 25px;
                        }
                    }       
                    .caption{
                        .head{
                            li{
                                font-size: 15px;
                            }
                        }
                    }
                    .recipes{
                        .recipe{
                            .img{
                                img{
                                    width: 97px;
                                    height : 95px;
                                }
                            }
                            .actions{
                                .view,.edit,.delete{
                                    width: 37px;
                                    height: 35px;
                                    img{
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                        }
                        h5{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}