.user-dash-board {
  input,
  textarea {
    ::placeholder {
      font-size: 15px;
    }
    border: 1px solid #c4c4c454;
  }

    ul{
        li{
            font-weight: 500;
        }
    }

    .sub-nav{
        .flex{
            .list{
                li:nth-child(1){
                    display: none;
                }
                li:nth-child(2)::after{
                    content: '>';
                    position: absolute;
                    transform: translateX(40%);
                  }
            }
        }
      }

  .wrapper {
    margin-top: 20px;
    .form {
      form {
        max-width: 500px;
        h5 {
          font-weight: 400;
          margin-bottom: 10px;
        }
        h2 {
          margin: 30px 0 40px;
          font-weight: 400;
        }
        .inputs {
          flex-direction: column;
          gap: 21px;
          .left,
          .right {
            flex-direction: column;
            gap: 21px;
            .input {
              width: 100%;
              input {
                width: 100%;
                padding-left: 15px;
              }
            }
          }
        }
        .textarea {
          margin-top: 21px;
          textarea {
            padding-bottom: 50%;
            width: 100%;
            height: 100%;
          }
        }
        .center {
          margin: 30px 0 20px;
        }
        .checkbox {
          .check {
            align-items: center;
            margin: 10px 0;
            gap: 10px;
            h5 {
              margin: 0;
            }
          }
          .upload-sec {
            .upload {
              align-items: center;
              flex-wrap: wrap;
              margin: 20px 0;
              gap: 5px;
              .upload-div {
                // outline : solid red;
                // background-color : red;
                // background-color: #fda47a;
                // color: white;
                // height: 45px;
                // padding: 0 30px;
                // input{
                //   display: none;
                // }
                // h5 {
                //     word-wrap: break-word;
                //     color: white;
                //     font-weight: 700;
                //   line-height: 45px;
                // }
                input[type="file"]{
                  display: none;
                }
                // .file-input{
                //   display: none;
                // }
                label{
                    background-color: #fda47a;
                    color: white;
                    height: 45px;
                    padding: 0 30px;
                    color: white;
                    font-weight: 700;
                    line-height: 45px;
                    cursor: pointer;
                  }
              }
              .upload-img {
                img {
                  height: 45px;
                }
              }
            }
          }
        }
        .upload-btn {
          text-align: center;
          margin: 50px 0 80px;
          button {
            padding: 8px 18px;
            font-size: 15px;
            border: none;
            background-color: #fda47a;
            color: white;
            outline: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .user-dash-board {
    padding-top:125px;
    h2,
    h5 {
      font-size: 25px;
    }
    .sub-nav{
        .flex{
            .list{
                display: flex;
                li:nth-child(2)::after{
                    content: '>';
                    position: absolute;
                    transform: translateX(40%);
                  }
                li:nth-child(1){
                    display: block;
                }
            }
        }
      }
    .wrapper {
      margin-top: 0px;
      display: flex;
      align-items: flex-start;
      .form {
        width: 70%;
        margin-left: 10px;
        form {
          max-width: unset;
          h5 {
            margin-bottom: 10px;
          }
          h2 {
            margin: 14px 0 40px;
          }
          .inputs {
            flex-direction: row;
            gap: 21px;
            .left,
            .right {
              width: 50%;
              flex-direction: column;
              gap: 21px;
              .input {
                width: 100%;
                input {
                  width: 100%;
                  padding: 8px 15px;
                }
              }
            }
          }
          .textarea {
            margin-top: 21px;
            textarea {
              padding-bottom: 10%;
            }
          }
          .center {
            margin: 10px 0 20px;
          }
          .checkbox {
            display: flex;
            align-items: baseline;
            gap: 80px;
            .check {
              h5 {
                font-size: 15px;
              }
            }
            .upload-sec {
              .upload {
                .upload-div {
                  h5 {
                    font-size: 15px;
                  }
                }
                .upload-img {
                  img {
                    height: 45px;
                  }
                }
              }
            }
          }
          .upload-btn {
            text-align: left;
            margin: 10px 0 80px;
            button {
              padding: 8px 18px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
