.menu {
    background-color: rgba(255,74,74,1);
}
.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}
.itemNav {
    color: #fff !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 16px !important;
}
.itemNav:hover {
    color: #061a3a !important;
}
.nav-link.active {
    color: #ff7c5b!important;
}
.navbar-toggler.collapsed {
    background-color: rgba(255,74,74,1)!important;
}
.navbar-toggler {
    background-color: #fff !important;
}
.recipebtn {
    background-color: #FECB2E;
    border: none;
}