.title {
    position: relative;
    z-index: 999 !important;
}
.caption {
    /* position: absolute; */
    right: 15%;
    bottom: 2.25rem !important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.caption:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    border-radius: 5px;
}
.review {
    color: yellow;
    font-size: 20px;
}
.info {
    color: #FF4A4A;
    font-size: 35px;
}
.slidebtn {
    padding-top: 8px;
}
.btnslide {
    background-color: #FF4A4A;
    border-radius: 5px;
    border:none;
    font-size: 18px;
    font-weight: bold;
}