.sectionTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.video {
    color: #FF4A4A;
    font-size: 30px;
    font-weight: bold;
}
.cardContainer {
    position: relative;
}
.cardContainer:hover .cardImg {
    opacity: 0.8;
}
.cardContainer .middle {
    opacity: 1;
}
.cardImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}