.community{
    border: 1px solid #dbd6d6;
    padding: 10px;
}
.community img{
    width: 130px;
    border-radius: 50%;
    margin-top: -70px;
}
.community hr{
    width: 80%;
    margin: auto;
}
.community-food{
    overflow-x: hidden !important;
}