.add-recipe-container{
    border: 1px solid gray;
    margin: 30px 0;
    padding: 40px;
}
.input-fuild{
    width: 100%;
    margin: 10px 0;
}
.add-recipe-button{
    background-color: rgb(143, 135, 124) !important;
    color: #ffffff !important;
    padding: 8px 40px !important;
    margin: 5px 0 !important;
}
.add-recipe-button:hover{
    background-color: rgb(143, 135, 124);
}
.tag-name{
    border: 1px solid gray;
    padding: 5px 10px;
}