.loginAdmin{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  div{
    // width: 70%;
    form{
      margin-bottom: 20px;
        text-align: left;
        font-size: 8.32209px;
      input{
        background: rgba(92, 92, 92, 0.33);
        width: 100%;
        border: none;
        padding: 10px 20px;
        margin: 10px 0 15px;
      }
      button{
        width: 100%;
        background-color: var(--primary);
        color: #ffffff;
        border: none;
        outline: none;
        font-size: 12px;
        padding: 10px;
        &:hover{
          background-color: var(--primaryHovered);
        }
      }
    }
  }
}


@media (min-width: 768px ) {
  .loginAdmin{
    // padding-top: 250px;
    div{
       width: 70%;
      form{
        font-size: 25px;
        input{
          border: none;
          padding: 10px 20px;
          margin: 25px 0;
        }
        label{
          display: none;
        }
        button{
          font-size: 30px;
          padding: 10px;
        }
      }
    }
  }

}