.container {
  background-color: rgb(227, 227, 227);
  height: 100vh;
}

.fill {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #282b30;
    margin: 20px 0px 0px 30px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 20px 30px;
    color: rgba(40, 43, 48, 0.64);
  }
}
.dashCard {
  width: 95%;
  z-index: 1;
  p,
  h3 {
    color: #ffffff;
    font-size: 13px;
  }
}
// .iconShow{
//   position: absolute;
//   z-index: 99;
//   width: 110px !important;
//   height: 150px !important;
//   left: 36%;
//   top: 13.5%;

//   // color: rgba(255, 255, 255, 0.13);
//   background-blend-mode: soft-light;
// }

.fills {
  background-color: #fff;
  margin: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stepHeader {
  display: flex;
  justify-content: space-between;
  h5 {
    width: 25%;
    margin: 5px;
    height: 60px;
    background-color: #cacbcd;
    text-align: center;
    padding: 10px 0px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    P {
      font-size: 12px;
      font-weight: 600;
      color: #fff;
    }
  }
}
.stepBody {
  background: #fff;
  margin: -5px 5px;
  height: 100vh;
}
.detailsButton {
  cursor: pointer;
  margin: 2px;
  width: 60px;
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  color: #fff;
  border: none;
}
td,
th {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
table {
  overflow-x: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.ptag {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(40, 43, 48, 0.68);
}

@media only screen and (max-width: 768px) {
  .ptag {
    font-size: 12px;
    padding-right: 5px;
  }
  .fills {
    background-color: #fff;
    margin: 3px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
